@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*,*:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Play', sans-serif;
    font-size: 15px;
 }

 h1,h2,h3,h4,h5,h6 {
    margin: 0;
 }

 p {
    margin: 0 0 5px;
 }

 .container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}



/* Header start */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.header_wrapper {
    height: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header_logo {
    display: flex;
}

.header_logo_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.header_logo_img {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 70px;
    height: 37px;
    margin-left: 35px;
    margin-top: -6px;
}

.header_nav {
    width: 413px;
    height: 18px;
    white-space: nowrap;
}

.header_nav_link {
    margin-right: 35px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    opacity: 1;
    transition: .3s;
}

.header_nav_link:hover {
    opacity: 0.6;
    transition: .3s;
}

.header_button {
    margin-bottom: 18px;
}

.header_btn {
    padding: 10px 15px;
    box-sizing: border-box;
    width: 189px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    transition: .3s;
    
}

.header_btn:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: .3s;
}

.header_contacts {
    margin-top: 36px;
    display: inline;
}

.header_telefon {
    padding-left: 36px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 1;
    transition: .3s;
}

.header_telefon:hover {
    opacity: 0.6;
    transition: .3s;
}

/* Header end */

/* Intro start */

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro_content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.intro_block {
    position: absolute;
    width: 883px;
    height: 160px;
}

.intro_title {
    max-width: 790px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color:  #FFFFFF;
}

.intro_text {
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.intro_networks {
    margin-left: auto;
    margin-right: 0;
    margin-top: 60px;
}

.intro_networks_item {
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 39px;
    width: 42px;
    transform: matrix(1, 0.03, -0.03, 1, 0, 0);
    margin-bottom: 20px;
    cursor: pointer;
    transition: .3s;
  }

  .intro_networks_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .intro_networks_item:hover {
    transform: scale(1.1);
    transition: .3s;
  }

  .intro_btn {
    width: 187px;
    height: 51px;
    padding: 15 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    line-height: 68%; 
    font-weight: 500;
    cursor: pointer;
    outline: 0;
    background: rgba(255, 191, 26, 0.87);
    border-radius: 10px;
    filter: drop-shadow(0px 2px 15px #B6B6B6);
    transition: .3s;
}

  .intro_btn:hover {
    background: yellow;
    transition: .3s;
}
/* Intro end */

/* About start */

.about {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
} 

.about:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
     linear-gradient(281.48deg, rgba(196, 196, 196, 0.2788) 2.6%, rgba(0, 0, 0, 0.2952) 34.68%, rgba(0, 0, 0, 0.5986) 75.94%);
    z-index: 2;
  }

.about_content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.about_info {
    display: inline;
    margin-top: 70px;
    width: 854px;
    height: 642px;
    overflow: hidden;
    border-collapse: collapse;
}

.about_title {
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 43px;
    line-height: 50px;
    color: #D1D1D1;
}

.about_text {
    margin-top: 38px;
    margin-bottom: 50px;
    width: 560px;
    height: 147px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #D1D1D1;
}

.about_box {
    margin-right: 40px;
    width: 160px;
    height: 117px;
    border: 1px solid #FFBF1A;
    border-radius: 10px;
}

.about_block {
    display: flex;
}

.about_box_num {  
    margin-top: 28px;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #D1D1D1;
    margin-bottom: 20px;
}

.about_box_text {
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #D1D1D1;
}

.about_image {
    width: 560px;
    height: 323px;
    box-shadow: 0px 8px 31px 8px rgba(202, 202, 202, 0.25);;
    border-radius: 10px;
    margin-bottom: 130px;
}

.about_img {
    box-shadow: 0px 8px 31px 8px rgba(202, 202, 202, 0.25);;
    border-radius: 10px;
}

/* About end */

/* Team start */

.team {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 1;
} 

.team:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
     linear-gradient(281.48deg, rgba(196, 196, 196, 0.2788) 2.6%, rgba(0, 0, 0, 0.2952) 34.68%, rgba(0, 0, 0, 0.5986) 75.94%);
    z-index: 2;
  }

.team_content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

.team_img {
    filter: drop-shadow(0px 4px 23px rgba(255, 255, 255, 0.47));
    border-radius: 10px;
}

.team_title {
    width: 560px;
    height: 153px;
    font-weight: 400;
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -0.08em;
    color: #D1D1D1;

}